{% load static %}

<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>♣Camellia Film♣</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'assets/css/sign.css' %}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="index.html">Camellia Film<span>새 가족이 되어주세요</span></a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>

		<!-- Nav -->
		<nav id="menu">
			<ul class="links">
				<li><a href="{% url 'index' %}">Camellia Film</a></li>
				<li><a href="{% url 'video' %}">Video</a></li>
                <li><a href="{% url 'photography' %}">Photography</a></li>
                <li><a href="{% url 'join' %}">문의하기</a></li>
                <li><a href="#">게시판</a></li>
			</ul>
		</nav>

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="banner" class="bg-img" data-bg="바다.jpg">
				<div class="inner">
					<header>
						<h1>Camellia Film Join Us</h1>
					</header>
				</div>
				<a href="#one" class="more">Learn More</a>
			</section>

		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="바다2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>회원가입</h2>
							<p>새 식구가 되기 위한 기본 정보를 입력해주세요</p>
						</header>
						<div class="content">
							<p>					
								<form action="#" method="post">

								<div class="field half first">
									<label for="name">이름</label>
									<input name="name" id="name" type="text" placeholder="이름">
								</div>
								<div class="field half">
									<label for="email">Email</label>
									<input name="email" id="email" type="email" placeholder="camelliapicture0@gmail.com">
								</div>
								<div class="field half first">
									<label for="password">비밀번호</label>
									<input name="password" id="password" type="password" placeholder="비밀번호">
								</div>
								<div class="field half">
									<label for="birthday">생년월일</label>
									<input name="birthday" id="birthday" type="text" placeholder="0000년 0월 0일">
								</div>
								<div class="field">
									<label for="message">하고 싶은 말</label>
									<textarea name="message" id="message" rows="6" placeholder="건의사항 또는 원하는 영상 스타일, 자유롭게 적어주세요"></textarea>
								</div>

								</ul>
								</form>
							</p>
						</div>
						<footer>
							<a href="{% url 'signupdone' %}" class="button alt" type="submit">새 식구 되기</a>
						</footer>
					</article>
				</div>

			</section>



		<!-- Footer -->
			

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/signup.js' %}"></script>

	</body>
</html>