{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>♣Camellia Film♣</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/fonts1/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/fonts1/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/signin.css' %}">
<!--===============================================================================================-->
</head>
<body>


	
	<div class="container-login100" style="background-image: url('static/images/노을2.jpg');">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form class="login100-form validate-form" method="post">
				{% csrf_token %}
				{{ error }}
				<span class="login100-form-title p-b-37">
					로그인
				</span>

				<div class="wrap-input100 validate-input m-b-20" data-validate="이름을 입력하세요">
					<input class="input100" type="text" name="name" placeholder="이름">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "비밀번호를 입력하세요">
					<input class="input100" type="password" name="password" placeholder="비밀번호">
					<span class="focus-input100"></span>
				</div>
				{% if request.user.is_authenticated %}
				<div class="container-login100-form-btn">
					<button class="login100-form-btn" href="{% url 'mypage' request.user.pk %}">
						<h5>입장</h5>
					</button>
				</div>
				{% else %}
				<div class="container-login100-form-btn">
					<button class="login100-form-btn" href="{% url 'index' %}">
						<h5>입장</h5>
					</button>
				</div>
				{% endif %}

				<div class="text-center p-t-57 p-b-20">
					<span class="txt1">
						소셜미디어로 로그인하기
					</span>
				</div>

				<div class="flex-c p-b-112">
					<a href="#" class="login100-social-item">
						<i class="fa fa-facebook-f"></i>
					</a>

					<a href="#" class="login100-social-item">
						<img src="{% static 'images/icon-google.png' %}" alt="GOOGLE">
					</a>
				</div>

				<div class="text-center">
					<a href="{% url 'signup' %}" class="txt2 hov1">
						회원가입
					</a>
				</div>
			</form>

			
		</div>
	</div>
	
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'assets/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'assets/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'assets/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'assets/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'assets/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'assets/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'assets/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'assets/js/signin.js' %}"></script>

</body>
</html>